<div class="container">
<br>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="jumbotron">
                 <h2><strong>Education Recruiting</strong></h2>

                <p id="edjumbo">Innovative organizations that are solving big problems in the world—like advancing education, promoting natural foods, or fighting poverty—need and deserve the very best talent on their team.</p>
                <p><a href="http://www.google.com" class="btn btn-default btn-lg">Learn More <i class="glyphicon glyphicon-chevron-right"></i></a>
                </p>
            </div>
        </div>
        <div class="col-md-4"><div class="hidden-sm hidden-xs">
         <img src="/images/phone.png" alt="phone" />
          
          </div>
    </div>


</div>

</div>
