<div class="jumbotron center">
	
	<% if user_signed_in? %>

	<h1>You are now signed in</h1>

	<% else %>
			<h1>Hello There.</h1>
		<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg", id: "Login" %>
		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default btn-lg", id: "Signup" %>
	<% end %>
</div>


<div class="container clmns">
  
  	<hr>
  
  	<div class="row">
        <div class="col-md-4">
          <div class="panel panel-default home">
            <div class="panel-heading"><h3>Hello.</h3><div class="panel-image"> <img src="/images/phone.png" alt="phone" /></div></div>
            <div class="panel-body", id="centerpanels">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
            </div>

          </div>
        </div>
          	<div class="row">
        <div class="col-md-4">
          <div class="panel panel-default home">
            <div class="panel-heading"><h3>Hello.</h3><div class="panel-image"> <img src="/images/pig.png" alt="pig" /></div></div>
            <div class="panel-body", id="centerpanels">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
            Aliquam in felis sit amet augue.
            </div>

          </div>
        </div>
          	<div class="row">
        <div class="col-md-4">
          <div class="panel panel-default home">
            <div class="panel-heading"><h3>Hello.</h3><div class="panel-image"> <%= link_to(image_tag("/assets/plane.png", :alt => "logo", :title => "Home", :class=>"responsive"), "/") %></div></div>
            <div class="panel-body", id="centerpanels">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
            Aliquam in felis sit amet augue.
            </div>

          </div>
        </div>
        </div>

